# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
out
storybook-static
coverage

# Turbo
.turbo

# Env
.env
.env.local
.env.*.local

# Editor
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
.vscode

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Pack artifacts (pnpm pack / npm pack)
*.tgz
